@tailwind base;
@tailwind components;
@layer components {
	.input__group {
		@apply flex flex-col gap-2;
	}
	.input__field {
		@apply border-[#cbcdd5] ring-0 focus:ring-0 focus:border-[#6259CA] h-[50px];
	}
	.submit__btn {
		@apply bg-[#6259CA] text-white font-medium text-base uppercase py-3 px-6 btn__shadow rounded-[5px];
	}
	.outline__btn {
		@apply border-2 border-[#6259CA] rounded-[5px] py-3 px-6 text-base uppercase text-[#6259CA] font-medium;
	}
	.action__delete {
		@apply bg-[#FED0DC] h-7 w-8 flex items-center justify-center rounded-md;
	}
	.action__view {
		@apply bg-[#B9EAD8] h-7 w-8 flex items-center justify-center rounded-md;
	}
	.user-page-title {
		@apply text-2xl font-bold text-[#333] pb-10;
	}
	.order-details-info-label {
		@apply text-base font-semibold text-[#333];
	}
	.order-details-info-value {
		@apply text-base font-normal text-[#000];
	}
}
@tailwind utilities;
/**
 * ==============================================
 * Style Component
 * ==============================================
 */
.account-setting button:focus-visible,
.account-setting div:focus-visible {
	outline: none;
	border: none;
}
.btn__shadow {
	box-shadow: 0px 0px 7px #6259ca9c;
}

/**
 * ==============================================
 * Custom Dropdown
 * ==============================================
 */
.user-link-shadow {
	box-shadow: 0px 0px 5px 3px rgb(98 89 202 / 10%);
}
.header-dropdown-parent .header-dropdown:hover {
	background-color: #fff;
}
.header-dropdown-parent .header-dropdown {
	box-shadow: 0px 0px 28px #33333326;
}
.main-link {
	z-index: 1;
}
.demo-option-label-item > span {
	margin-right: 6px;
}
.main-link.active::before,
.main-link.active::after {
	border-right: 21px solid #0e0e23;
	content: '';
	position: absolute;
	height: 30px;
}

.main-link.active::before {
	right: 0px;
	bottom: 0;
	top: -30px;
	z-index: 9;
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom: transparent;
	border-radius: 0 0 48px 0;
}
.main-link.active::after {
	right: 0px;
	z-index: 0;
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom: transparent;
	border-radius: 0 48px 0 0;
	top: 44px;
}

/**
 * ==============================================
 * Text Editor
 * ==============================================
 */
.rdw-text-align-dropdown {
	width: 50px;
	z-index: 10;
}
/**
 * ==============================================
 * Custom Pagination
 * ==============================================
 */
.custom-pagination button {
	border-radius: 0;
	color: #0e0e23;
	border-color: #f0f1ff;
}
.custom-pagination li[aria-current='page'] button {
	background-color: #6259ca;
	color: #fff;
	border-color: #6259ca;
}
/**
 * ==============================================
 * Dot Falling
 * ==============================================
 */
.dot-falling {
	position: relative;
	left: -9999px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #fff;
	color: #fff;
	box-shadow: 9999px 0 0 0 #fff;
	animation: dot-falling 1s infinite linear;
	animation-delay: 0.1s;
}
.dot-falling::before,
.dot-falling::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
}
.dot-falling::before {
	width: 10px;
	height: 10px;
	margin-left: -10px;
	border-radius: 5px;
	background-color: #fff;
	color: #fff;
	animation: dot-falling-before 1s infinite linear;
	animation-delay: 0s;
}
.dot-falling::after {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #fff;
	color: #fff;
	animation: dot-falling-after 1s infinite linear;
	animation-delay: 0.2s;
}

@keyframes dot-falling {
	0% {
		box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
	}
	25%,
	50%,
	75% {
		box-shadow: 9999px 0 0 0 #fff;
	}
	100% {
		box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
	}
}
@keyframes dot-falling-before {
	0% {
		box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
	}
	25%,
	50%,
	75% {
		box-shadow: 9984px 0 0 0 #fff;
	}
	100% {
		box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
	}
}
@keyframes dot-falling-after {
	0% {
		box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
	}
	25%,
	50%,
	75% {
		box-shadow: 10014px 0 0 0 #fff;
	}
	100% {
		box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
	}
}
